
= search_form_for @q do |f|
  .form-group
    = f.label :name_cont_or_subject_name_cont, "Search Sources by Name: "
    = f.search_field :name_cont, class: 'form-control'
  / .form-group
  /   = f.label :subject_name_eq, "Filter by Subject"
  /   = f.select :subject_name_eq, Subject.all.map(&:name), {include_blank: true}, {class: 'form-control'}

  / .form-group
  /   = f.label :level_name_eq, "Filter by Level"
  /   = f.select :level_name_eq, Level.all.map(&:name), {include_blank: true}, {class: 'form-control'}

  / .form-group
  /   = f.label :publication_year_eq, "Filter by Publication Year"
  /   = f.select :publication_year_eq, Source.publication_year_options, {include_blank: true}, {class: 'form-control'}

  / .form-group
  /   = f.label :publication_month_eq, "Filter by Publication Year"
  /   = f.select :publication_month_eq, Source.publication_month_options, {include_blank: true}, {class: 'form-control'}


  = f.submit class: 'btn btn-default'

%br
%br
%br

/ - if params[:q] && params[:q][:subject_name_eq]
/   %h3
/     = "#{params[:q][:subject_name_eq]}"
/ %br

%h4 Sources :
%br
= link_to "add new", rails_admin.new_path(model_name: "Source")
%br
%br
%br

%table.table.table-hover.sources-table
  %tr
    %th.subject
      = sort_link(@q, :subject_name, "Subject")
    %th.source_name
      = sort_link(@q, :name, "Name")
    %th.level
      = sort_link(@q, :level, "Level")
    %th.publication_date
      = sort_link(@q, :publication_date, "Publication Date")
    %th.view_pdf
      = "View Source"
    %th.view_info
      = "View Info"
    %th.edit_info
      = "Edit Info"

  - @uniq.each do |source|
    %tr
      %td
        -if source.subject
          = source.subject.name
        -else
          = ""
      %td
        = link_to source.name, "/problems_by_source/#{source.id}"
      %td
        -if source.level
          = source.level.name
        -else
          = ""
      %td
        = source.display_publication_date
      %td
        -if source.document
          = link_to("View Source", source.document.url, {target: "_blank"})

      %td
        = link_to("View Info", rails_admin.show_path(model_name: "Source", id: source.id))
      %td
        = link_to("Edit Info", rails_admin.edit_path(model_name: "Source", id: source.id))

= will_paginate @sources, renderer: BootstrapPagination::Rails
