<div class="row search-result">
	<div class="col-md-6">
		<a href = "#" class="back_to_topics back_to pull-left"> <i class="fa fa-chevron-left"></i></a>
		<div class="title pull-left">
			<h3 class="box-title" id="topic-head" data-topic-id="<%= @topics.id %>"> <%= @topics.name%> </h3>
		</div>
	</div>
	<div>
		<%= render 'collection_dropdown_btn' %>
	</div>
</div>

<div class="table-container row">
	<div class="search-area col-md-3" >
		<div class="form-group">
			<label for="subject">Subject</label>
			<%= select_tag :subject, options_from_collection_for_select(@subject,"id","name",
			''), {:multiple => :multiple, :class => 'select2 form-control topic-subjet'} %>
		</div>
		<div class="form-group">
			<input type="button" value="Search" class="btn btn-primary col-md-12 search-problems"/>
		</div >
	</div>

	<div class="col-md-9 problem_result">
		<%= render 'table'%>
	</div>
</div>