
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Problem Viewer
    <!-- <small>Filter the problems</small> -->
  </h1>
 <!--  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
    <li class="active">Here</li>
  </ol> -->
</section>

<!-- Main content -->
<section class="content">
<div class="box main-content">
	<!-- <h2> Search Problems </h2> -->
	<div class="box-header with-border">
		<i class="fa fa-search"></i>
		<h3 class="box-title">Search</h3>
	</div>
	<div class="box-body body-content">

		<div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active">
        	<a href="#simple_search" data-toggle="tab" aria-expanded="true">Simple Search</a>
        </li>
        <li class="">
        	<a href="#by_topic" data-toggle="tab" aria-expanded="false">By Topic</a>
        </li>
        <li class="">
        	<a href="#my_collection" data-toggle="tab" aria-expanded="false">My Collection</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane row active" id="simple_search">
			<div class="search-area col-md-3" >
				<div class="form-group">
					<label for="subject">Subject</label>
					<%= select_tag :subject, options_from_collection_for_select(@subject,"id","name",
					''), {:multiple => :multiple, :class => 'select2 form-control'} %>
				</div>
				<div class="form-group">
					<label for="source">Source</label>
					<%= select_tag :source, options_from_collection_for_select(@sources,"id","name",
					''), {:multiple => :multiple, :class => 'select2 form-control'} %>
				</div>
				<div class="form-group">
					<label for="tags">Tags</label>
					<%= select_tag :tags, options_from_collection_for_select(@tags,"id","name"), {:multiple => :multiple, :class => 'select2 form-control' } %>
				</div>
				<div class="form-group">
					<input type="button" value="Search" class="btn btn-primary col-md-12" id="search"/>
				</div >
			</div>
			<div class="col-md-9 table-container">
				<div class="row search-result">
					<div class="col-md-6"><h3 class="box-title"> Search Result </h2></div>
					<div class="col-md-6">
						<%= render 'collection_dropdown_btn' %>
					</div>
				</div>
				<div class="problem_result"><%= render 'table' %></div>
			</div>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="by_topic">
        	<div id="topic_list">
        		<%= render 'topics' %>
        	</div>
         	
			<div class="hide" id="topic_proble_wrapper"></div>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="my_collection">
        	<div id="coll-list-wrapper">
				<%= render 'collections' %>
			</div>
        </div>
        <!-- /.tab-pane -->
      </div>
       <div class="hide" id="coll_problem_wrapper"></div>
      <!-- /.tab-content -->
    </div>
  </div>
</div>
</section>

<script>
$(document).ready(function(){
	$('.select2').select2();

	$('.dropdown-toggle').dropdown();

	$("#search").on('click', function () {
		$.ajax({
			url: "/get_problems",
			type: 'POST',
			data: {
				"subject_id": $("#subject").val(),
				"source_id": $("#source").val(),
				"tag_id": $('#tags').val(),
				"authenticity_token": $('[name="csrf-token"]').attr('content')
			}, 
			success: function(result){
	        	$('#simple_search').find('.table-container .problem_result').html(result);
	    	}
	  	});
	})

	$(document).on('click', '.search-problems', function () {
		$.ajax({
			url: "/get_problems",
			type: 'POST',
			data: {
				"subject_id": $('.topic-subjet').val(),
				"authenticity_token": $('[name="csrf-token"]').attr('content')
			},
			success: function(result){
	        	$('#by_topic').find('.table-container .problem_result').html(result);
	    	}
	  	});
	})

	$('#subject').on('change', function(e) {
		var id = $(this).val();
		$.ajax({
			url: "/tags_source", data: {"id": id},
			success: function(result){

	        var tag_options = [], source_option = [];
	        $.each(result.sources, function(i, obj) {
	        	source_option.push("<option value=" + obj.id+">" +obj.name +"</option>" )
	        })

			$('#source').html(source_option.join("")).select2('destroy').select2();


	        $.each(result.tags, function(i, obj) {
	        	tag_options.push("<option value=" + obj.id+">" +obj.name +"</option>" )
	        })

			$('#tags').html(tag_options.join("")).select2('destroy').select2();
	    }});
	})

	$(document).on('click', '.problems_in_topic', function() {
		var id = $(this).data('productId');
		$.ajax({
			url: "/topic_problems", data: {"id": id},
			success: function(result){
				$('#topic_list').addClass('hide');
				$('#topic_proble_wrapper').html(result).removeClass('hide');


				$('.topic-subjet').select2();
				$('.dropdown-toggle').dropdown();
			}
		})
	})

	$(document).on('click', '.collection-data', function () {
		var id = $(this).data('collectionId');
		$.ajax({
			url: "/collection_problems", data: {"id": id},
			success: function(result){
				$('#coll-list-wrapper').addClass('hide');
				$('#coll_problem_wrapper').html(result).removeClass('hide');
			}
		})
	})


	$(document).on('click' , ".question_row", function(){
		$(this).find(".only_q").toggleClass('hide');
		$(this).find(".q_and_a_wrapper").toggleClass('hide');
	})

	var theArray = [];
	$(document).on('click', '.pick-product', function() {

		var theValue = parseInt($(this).data('productId'));

		var index= $.inArray(theValue, theArray);

		if(index== -1) {
		    theArray.push(theValue);
		} else {
			theArray.splice(index,1);
		}

	})

	$(document).on('click', '.dropdown-toggle-own', function (e) {
	  $(this).parent().addClass('open')
	});

	$(document).on('click', function(e) {
		if (!$(e.target).parents('.dropdown').get(0)) {
			$('.dropdown-toggle-own').parent().removeClass('open');
		}
	})

	$(document).on('click', '#add-collection-btn', function () {
			$.ajax({
			type: 'post',
			url: "/add_collection",
			data: {"name": $('#add-c-input').val()},
			success: function(result) {
				$('#add-c-input').val('')
				$('.add-colletion-dropdown').removeClass('open');
				$('#collection-list table').append(result);
			} 
		})
	})

	$(document).on('click', '.col-add',function (e) {
		e.preventDefault();

		var row = $(this).parents('.collection_list');
		var id = $(row).find('.collection-data').data('collectionId');
		var name = $(row).find('.input-edit').val()
		$.ajax({
			type: 'post',
			url: "/edit_collection",
			data: {"id": id, "name": name },
			success: function(result) {

				$('#input-edit').val(result.value);
				$(row).find('.collection-data').html(result.value);

				$(row).find('.collection-data').removeClass('hide');
				$(row).find('.col-activity-btn').removeClass('hide');

				$(row).find('.input-edit').addClass('hide');
				$(row).find('.col-add-group').addClass('hide');
			} 
		})
	})

	$(document).on('click', '.col-edit', function (e) {
		e.preventDefault();

		var row = $(this).parents('.collection_list');

		$(row).find('.collection-data').addClass('hide');
		$(row).find('.col-activity-btn').addClass('hide');

		$(row).find('.input-edit').removeClass('hide');
		$(row).find('.col-add-group').removeClass('hide');
	})

	$(document).on('click', '.col-cancel', function (e) {
		e.preventDefault();
		var row = $(this).parents('.collection_list');

		$(row).find('.collection-data').removeClass('hide');
		$(row).find('.col-activity-btn').removeClass('hide');

		$(row).find('.input-edit').addClass('hide');
		$(row).find('.col-add-group').addClass('hide');

	})

	$(document).on('click', '.col-delete', function (e) {
		e.preventDefault();
		var col_list = $(this).parents('.collection_list');

		if(confirm("Do you want to delete the " + col_list.find('.input-edit').val() +"  from collection")) {
			var id = col_list.find('.collection-data').data('collectionId')
			$.ajax({
				url: "/delete_collection",
				data: {"id": id},
				type: 'DELETE',
				success: function(result){
					console.log(result);
					col_list.remove();
					$.growl({ title: "Delete in Collection", message: result.success, duration: 5000 })
				}
			})
		} else {
			return false;
		}

	})

	$(document).on('click', '.problem-delete', function () {
		var problemId = $(this).data('problemId');
		var id = $('#col-head').data('colId');

		if(confirm("Do you want to remove the problem from collection")) {
			var col_list = $(this).parents('.col-problm-row')
			$.ajax({
				url: "/remove_problem_collection",
				data: {"id": id, "problem_id": problemId},
				type: 'post',
				success: function(result){
					console.log(result);
					col_list.remove();
					$.growl({ title: "Problem removed from Collection", duration: 5000 })
				}
			})
		} else {
			return false;
		}
	})

	$(document).on('click', '#add_student_col', function () {
		debugger
		var studentId = []
		$('.student_dropdown .list-group-item input:checked').each(function(a, b) {
			studentId.push($(b).data('stdId'))
		})
		var id = $('#col-head').data('colId');

		if (studentId.length > 0) {
			$.ajax({
				type: 'post',
				url: "/student_to_collection",
				data: {"id": id, "user_hash": studentId },
				success: function(result) {
					$('.student_dropdown').addClass('hide');
					$('#student_count').html(result.student_count)
					$.growl({ title: "Added in Collection", message: "The selected students has been added in collection", duration: 5000})
				}
			})
		}

	})

	$(document).on('click', function(e) {
		if (!$(e.target).parents('.student_dropdown_wrap').get(0)) {
			$('.student_dropdown').addClass('hide')
		}
	})

	$(document).on('click', '.collection_row', function () {

		var problemId = []
		$('.problem_result .table').find('input.pick-product:checked').each(function(a,b) { 
			problemId.push($(b).data('productId'));
		});
		var id = $(this).data('collectionId');
		
		$.ajax({
			type: 'post',
			url: "/problems_to_collection",
			data: {"id": id, "problems": problemId },
			success: function(result) {
				 $.growl({ title: "Added in Collection", message: "The selected "+ problemId.length +"problems has been added in collection", duration: 5000})
			} 
		})

	})

	$(document).on('click', '#add-student', function () {
		$('.student_dropdown').toggleClass('hide');
	})

	$(document).on('click', '.back_to_collection', function () {

		$.ajax({
			url: "/get_collection",
			success: function(result){
				$('#coll_problem_wrapper').addClass('hide')
				$('#coll-list-wrapper').html(result).removeClass('hide');
			}
		})
	})

	$(document).on('click', '.back_to_topics', function () {
		$.ajax({
			url: "/get_topics",
			success: function(result){
				$('#topic_proble_wrapper').addClass('hide')
				$('#topic_list').html(result).removeClass('hide');
			}
		})

	})

	$(document).on('click', '.coll-student', function (e) {
		e.preventDefault();
		var coll_id = $(this).parent().siblings().find('.collection-data').data('collectionId')
		$.ajax({
			url: "/get_students",
			data: {"id" : coll_id},
			success: function(result){
				$('#coll-list-wrapper').addClass('hide')
				$('#coll_problem_wrapper').html(result).removeClass('hide');
			}
		})
	})

	$(document).on('click', '.remove-student', function (e) {
		var coll_id = $('#col-head').data('colId');
		var studentId = $(this).data('studentId');
		var self = this

		if(confirm("Do you want to remove the " + $(this).parent().siblings().text() +"  from this collection")) {
			$.ajax({
				type: 'post',
				url: "/remove_student",
				data: {"id": coll_id, "student_id": studentId},
				success: function(result){
					$(self).parents('.col-problm-row').remove();
				}
			})
		} else {
			return false;
		}
	})
	
})
</script>