- if not current_user.low_access?

  = search_form_for @q do |f|
    .form-group
      = f.label :number_or_question_or_answer_choices_text_or_source_name_cont, "Search Terms (looks at text in Name, Question, Answer Choices, and Source)"
      = f.search_field :number_or_question_or_answer_choices_text_or_source_name_cont, class: 'form-control'
    .form-group
      = f.label :source_name_eq, "Filter by Source"
      = f.select :source_name_eq, Source.all.map(&:name), {include_blank: true}, {class: 'form-control'}
    = f.submit class: 'btn btn-default'

- if not current_user.low_access?
  %p
  %br
  %br
    - toggle_text = @show_full_problem ? 'show problem extracts' : 'show full problems'
    = link_to toggle_text, problems_path(q: params[:q], full: !@show_full_problem, page: params[:page])
  %br
  %br
  %br

- if @show_full_problem
  - @uniq.each do |problem|
    = render 'problem', problem: problem

- else

  %table.table.table-hover.problems-table
    %tr
      %th
        = 'Source'
      %th
        = 'Number'
      %th
        = 'Question'

    - @uniq.each do |problem|
      %tr
        %td
          -if problem.source
            = link_to problem.source.name, rails_admin.show_path(model_name: 'source', id: problem.source.id)
          -else
            = ""
        %td
          = link_to problem.display_number, problem_path(problem)
        %td
          = problem.question_extract


= will_paginate @problems, renderer: BootstrapPagination::Rails
