-  original_user = user_signed_in? && SwitchUser::Provider.init(controller).original_user
- if original_user
  - next_path = ERB::Util.url_encode "/switch_user/remember_user?remember=false}"
  = link_to "Back to #{original_user.email}", "/switch_user?scope_identifier=user_#{original_user.id}&path=#{next_path}"


- if current_user.is_admin
  = render 'admin_nav'
- elsif current_user.is_teacher
  = render 'teacher_nav'
- else
  = render 'log_out'