
- # if !student -> show source + name
- # everyone : question, answer-choices (if !student, show which one is correct),
- # associated images, texts

- if not current_user.low_access?
  %h3
    = link_to problem.source.name, rails_admin.show_path(model_name: 'source', id: problem.source.id)
    = ": " + problem.number
  %br
  %br


.panel.panel-default
  .panel-heading
    %h3.panel-title
      Question
  .panel-body.latex
    = problem.question


- if problem.texts.any?
  - problem.texts.each do |text|
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Related Text
      .panel-body.latex
        = text.content

- if problem.images.any?
  - problem.images.each do |image|
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Related Image
      .panel-body
        = image_tag image.content.url(:medium)


- if problem.answer_choices.any?
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        Answer Choices
    .panel-body
      %ui.list-group
        - problem.answer_choices.each do |ac|
          = render 'answer_choice', answer_choice: ac



