<!DOCTYPE html>
<html>
<head>
  <title>Brown</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <%= render 'nav' %>
  </div>
  <div class='container'>
    <br />
    <br />
    <br />
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>

</body>
</html>
