<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Brown</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- latex rendering -->
  <script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<style>
.problem_search {
  margin-top: 100px;
}

.rails_admin .navbar-brand img{
  width: 100px;
  margin-top: -15px;
}
</style>
<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="skin-blue sidebar-mini">
  <div class="">
    <% if current_user.present? %>
      <% if current_user.is_admin || current_user.is_teacher %>
        <div class="navbar navbar-default navbar-fixed-top">
          <%= render 'nav' %>
        </div>
         <div>
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
      <% else %>
        <%= render 'navbar' %>
        <%= render 'body'%>
      <% end %>
    <% else %>
      <div class="row " style="background-color:#fff"> 
        <div class="text-center login-logo" >
          <a href="/" title="Brownstone">
              <img src="/logo.png" alt="brownstone">
          </a> 
        </div>
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    <% end %>
  </div>
</body>
</html>
